@model FProjectMVC.Models.ProductViewModel


@{
    ViewData["Title"] = "GetProductById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div>
        <div><h4>Title: @Model.Title</h4></div>
        <div><img src="~/x-icon-png-13.jpg" width="150" height="150" alt="lorem" /></div>
        <div>Brand: @Model.brand.Title</div>
        <div>Category: @Model.category.Title</div>
        <div>Price: @Model.Price</div>
        <div>Description: @Model.Description</div>
        <p>
            <button type="submit">@Html.ActionLink("Add to Basket", "Add", "Basket", new { productId = Model.Id }, null)</button>
            <button type="submit">@Html.ActionLink("Edit", "Update", "Product", new { id = Model.Id }, null)</button>
            <button type="submit">@Html.ActionLink("Delete", "Delete", "Product", new { id = Model.Id }, null)</button>
        </p>
    </div>
