@model FProjectMVC.Models.OrderViewModel

@{
    ViewData["Title"] = "GetOrderById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetOrderById</h1>

<div>
    <div>Owner: @Model.User.FirstName @Model.User.LastName</div>
    <div>Contacts: @Model.User.PhoneNumber</div>
    <div>
        Items: @foreach (var item in Model.items)
        {
            <div>
                <table>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Quantity
                        </th>
                    </tr>
                    <tr>
                        <td>@item.Product.Title</td>
                        <td>@item.Product.Price</td>
                        <td>@item.Quantity</td>
                    </tr>
                </table>
            </div>
        }
    </div>
    <div>Total sum = @Model.TotalPrice</div>

    <div>Comment: @Model.Comment</div>
</div>